.show{
    height: 500px;
}
.float-right{
    float: right;
}

.breadcrumb {
    background-color: #f1f1f1;
    text-transform: uppercase;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.breadcrumb li a{
    color: #3d3e40;
}
.show-detail-product{
    min-height: 560px;
}
.breadcrumb .active {
    color: #c62121;
}

.breadcrumb .active:before {
    color: #c62121;
}
.breadcrumb li + li:before {
    color: #3d3e40;
    content: ">";
}

.breadcrumb .active:before {
    padding: 0 5px;
    color: #c62121;
}

.no-padding-right {
    padding-right: 0;
}

#carousel-view-images {
    position: relative;
}

.image-detail .image-lag {
    margin-bottom: 15px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#carousel-view-images .carousel-indicators2 {
    /* width: 100%; */
}
.owl-img-thumbail {
    margin: 0 -8px;
    width: auto;
}
.owl-carousel {
    overflow: hidden;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.option-btn .btn-them {
  cursor: pointer;
}

.option-btn .btn-detail {
    display: inline-block;
    background-color: #105ca8;
    text-transform: uppercase;
    color: #fff;
    background-position: center left 13px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    height: 56px;
    text-align: center;
    padding: 16px 30px 12px 30px;
    vertical-align: middle;
    margin-top: 10px;
    transition: all 0.2s;
    border-radius: 7px;
    border: none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 766px){
    .container{
        padding: 0;
    }

    .show{
        height: 420px;
    }
}

#zalo-pc {
    position: fixed;
    bottom: 170px;
    left: 20px;
    z-index: 9999;
}

.quick-alo-phone {
    position: fixed;
    /*width: 200px;*/
    /*height: 200px;*/
    background-color: transparent;
    cursor: pointer;
    z-index: 9999999;
    transition: visibility .5s;
    bottom: 215px;
    left: -50px;
}

.quick-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #fadb22;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.quick-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: #fadb22 url(img/message503.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.quick-alo-ph-img-circle:hover {
    background-color: #fadb22;
}

#top {
    display: block;
    color: #FFF;
    font-weight: 500;
    text-align: center;
    width: 44px;
    padding: 11px 0px;
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 9999;
    /*display: none;*/
    cursor: pointer;
    background-color: #4AB7EC;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.info_policy {
    position: relative;
    padding: 28px 0;
    text-align: center;
    background: #33496d;
}

.info_policy .name-icon{
    font-size: 45px;
    color: #fff;
    vertical-align: top;
    width: 100%;
    text-align: center;
}

.info_policy .description {
    margin-top: 5px;
    vertical-align: top;
    text-align: left;
    width: 100%;
    text-align: center;
}

.info_policy .description h4 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.info_policy .description p {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
}

@media only screen and (min-width: 1200px) {
    .item_policy:first-child {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1px) {
    .item_policy {
        /*margin-bottom: 15px;*/
        margin-top: 15px;
    }
    .show .row .col-md-3{
        padding-right: 0px;
        padding-left: 0px;
    }

    .set-slide-mb{
        margin-right: 0px;
    }

    .set-slide-mb .menu{
        padding-right: 0px;
    }

    .set-policy .row{
        margin-right: 0px;
        margin-left: 0px;
    }
}
.color-policy{
    color: #e25700;
}
.set-policy{
    margin-bottom: 20px;
}

.set-slide-mb{
    margin-top: 20px;
}
