.set-header{
    min-height: 100px;
    background: #c6e5f3;
    margin-bottom: 20px;
    border-bottom: solid 1px #c6e5f3;
    box-shadow: 0 0 4px #0f95d2;
}

.margin-15{
    margin-top: 15px;
}

.hotline {
    display: inline-block;
    font-family: "Tahoma";
    font-weight: bold;
    color: #807f7f;
    padding-left: 20px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(img/hotline.png);
}

.hotline span {
    color: #c62121;
}

.head-tut a{
    color: #898888;
    font-size: 13px;
}

.set-input-search{
    margin-left: 20px;
}

@media only screen and (max-width: 766px) {
    .head-tut {
        display: none;
    }

    .set-input-search{
        margin-right: 15px;
    }

    .head-contact{
        text-align: center;
        padding-top: 7px;
        margin-right: 9px;
    }
    .set-icon{
        padding: 5px 0 0 30px!important;
        text-align: center;
    }

    .set-header .row{
        margin-right: 0px;
        margin-left: 0px;
    }

}

.set-pos-rel {
    position: relative;
}

.list-search{
    display: none;
    z-index: 1000;
    top: 39px;
    position: absolute;
    /*width: 300px;*/
    padding-left: 0px;
    padding-right: 30px;
    height: auto;
    border-radius: 2px;
}

.item-search{
    z-index: 1000;
    /*background: red;*/
    height: 60px;
    border-radius: 2px;
    border-bottom: solid 1px #cecece;
}

.search-icon-product{
    padding: 7px;
    float: left;
    width: 30%;
    height: 100%;
    background: #fff;
}

.search-icon-product img{
    height: 100%;
    width: 100%;

}

.search-content-product{
    float: left;
    width: 70%;
    height: 100%;
    background: #fff;
}
.price{
    color: #f82400;
}
@media only screen and (max-width: 766px) {
    .head-tut {
        display: none;
    }

    /*.set-input-search{*/
    /*    margin-right: -15px;*/
    /*}*/

    .head-contact{
        text-align: center;
        padding-top: 7px;
        margin-right: 9px;
    }
}

.set-icon{
    padding: 15px;
}

.set-icon img{
    /*margin-left: 90px;*/
    height: auto;
    width: 170px;
}
