.set-header{
    height: 100px;
    background: #f1f1f1;
    margin-bottom: 20px;
    border-bottom: solid 1px #e1e1e1;
    box-shadow: 0 0 4px #b6b6b6;
}

.margin-15{
    margin-top: 15px;
}

.hotline {
    display: inline-block;
    font-family: "Tahoma";
    font-weight: bold;
    color: #807f7f;
    padding-left: 20px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(./hotline.png);
}

.hotline span {
    color: #c62121;
}

.head-tut a{
    color: #898888;
    font-size: 13px;
}

@media only screen and (max-width: 766px) {
    .head-tut {
        display: none;
    }

    .set-input-search{
        margin-right: 15px;
    }

    .head-contact{
        text-align: center;
        padding-top: 7px;
        margin-right: 9px;
    }
}