
.title-section {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.4s;
    background: #105ca8;
    padding: 8px 20px;
    border-radius: 5px 5px 0 0;
    float: left /*&.winload{ background-position: bottom left; }*/;
}

.header-tab{
    border-bottom:solid 2px #105ca8;
    height: 40px;
}

.tab{

    height: 350px;
}
.set-scroll-tab{
    overflow-y: hidden;
    overflow-x: auto;
}

.set-scroll-tab::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

/* Track */
.set-scroll-tab::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.set-scroll-tab::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.set-scroll-tab::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroll-tab{
    width: auto;
    height: auto;
    display: block;

}

.set-tab-link{
    color: #105ca8;
    font-size: 14px;
    padding-top: 7px;
}

.set-tab-link a{
    text-decoration: none;
}

.item-product .product-img {
    display: table;
    text-align: center;
    width: 100%;
}
.item-product .product-img a {
    height: 203px;
    display: table-cell;
    vertical-align: middle;
}

.set-item-img{
    max-width: 100%;
    max-height: 100%;
}

.owl-item{
    text-align: center;
    width: 234px;
    padding: 15px;
    float: left;
}

.item-product .price .amount {
    color: #c62121;
    font-size: 18px;
    font-weight: bold;
}

.item-product .name-product {
    display: block;
    font-size: 13px;
    color: #3d3e40;
    font-weight: bold;
}

.item-product{
    border: 1px solid #e6e6e6;

}
